@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
html {
  font-family: Lato, sans-serif;
}

.front img {
  max-width: 200px;
}

.link-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  padding: 0;
}

.tile {
  overflow: hidden;
  position: relative;
}

.face {
  width: 100%;
}
